.container { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.container { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:100%;
	height:100%;
	align-items: center;
	justify-content: center;
	background-image:url(images/img.png);
	background-repeat:no-repeat;
	background-size:cover;
}